

html, body {
  overflow-x: hidden;
}

body{
	margin-top:0;
	margin:0;
	padding:0;
	background-color:#ffffff;

}
	



article{
	
	margin-top:10px;
	margin:1%;
	padding:1%;
	background-color:#ffffff;
	
}

.recomends{
	text-align: center;


}






.tell{
	 background-color: transparent;
	 border: none;
  
    position: relative;
margin-top:0;
padding:2;

	
}

.inst{
	 background-color: transparent;
	 border: none;
 	 position: relative;
margin-top:0;

padding:2;
}

.line{
	 background-color: transparent;
	 border: none;
  
    position: relative;
margin-top:0;
padding:0;
}



.icon{
	
	margin:0;

	text-align:center;
	display:flex;
}



.hover1 {
	transition: all 0.6s ease 0s;
}
.hover1:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
}


.details-wrap {
	margin-top:120px;
	display: flex;
    justify-content: flex-start;
    align-items: flex-start;
	
}


.details {
	position: relative;
	width: 20%;
	height: 400px;
	transition: width 0.5s;
	&:hover {
		width: 100%;
	}
}





.details[open] {

	.details-summary{
		&::before {
			display: none;
		}
	}
}
.details-summary {
	display: block;
	position: absolute;
	color: #fff;
	font-size: 18px;
	height: 100%;
	width: 100%;
	text-align: center;
	cursor: pointer;
	&::before {
		content: '';
		background-color: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 2;
		}
	&:hover {
		&::before {
			  display: none;
		}
	}
	img {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;

	}
}

.details-summary  p{ 

position:absolute;
}
writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
/* IE対応 */
    top: 40%;
    margin-top: -20px;
    left: 20px;
    right: 20px;
    text-align: center;
    background: rgba(47, 79, 79, 0.25);
    line-height: 10px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
  }
.details-summary::-webkit-details-marker {
	display: none;
 }


.accordion-caption span {
	
	height: flex;
	width: flex;
    position:absolute ;
    top: 40%;
    margin-top: -20px;
    left: 20px;
    right: 20px;
    text-align: center;
    background: rgba(47, 79, 79, 0.25);
    line-height: 10px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.con1 {
	
	height: flex;
	width: flex;
    position:absolute ;
    top: 40%;
    margin-top: -20px;
    left: 20px;
    right: 20px;
    text-align: center;
    background: rgba(47, 79, 79, 0.25);
    line-height: 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}


	/* inputを非表示 */
.input-hidden{
	display: none;
}
	/* label */
.hamburger-demo-switch{
	cursor: pointer;
	position: absolute;
	right: 3%;
	top:; /* ハンバーガーアイコンの位置（上から） */
	z-index: 9999;
	width: 4em; /* アイコン（クリック可能領域）の幅 */
	height: 4em; /* アイコン（クリック可能領域の）高さ */
}
/* メニュー展開時にハンバーガーアイコンを固定 */
#hamburger-demo1:checked ~ .hamburger-demo-switch{
	position: fixed;
}
/* ハンバーガーアイコン */
.hamburger-switch-line1, .hamburger-switch-line1:before, .hamburger-switch-line1:after{
	width: 25px;
	height: 3px;
	background: #333; /* ハンバーガーアイコンの色 */
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .3s;
	content: "";
}
.hamburger-switch-line1{
		transform: translate(-50%, -50%);
}
.hamburger-switch-line1:before{
	transform: translate(-50%, -300%);
}
.hamburger-switch-line1:after{
	transform: translate(-50%, 200%);
}
/* ハンバーガーアイコン･アニメーション */
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1{
	width: 0;
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:before{
	transform: rotate(45deg) translate(-40%, 325%);
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:after{
	transform: rotate(-45deg) translate(-40%, -325%);
}
/* メニューエリア */
.hamburger-demo-menuwrap{
	position: fixed;
	height: 100%;
	background: #fafafa; /* メニューエリアの背景色 */
	padding: 5em 3% 2em;
	z-index: 9998;
	transition: .3s;
	overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
	top: 0;
	left: 100%;
	width: 70%;
}
/* メニューリスト */
.hamburger-demo-menulist{
	margin-right: 3%;
	padding-left: 5% !important; /* !important不要な場合もあり */
	list-style: none;
}
.hamburger-demo-menulist li a{
	text-decoration: none;
	color: #333; /* メニューリストの文字色 */
	display: block;
	padding: .5em 0;
}
/* メニューエリア･アニメーション */
	/* 右から */
#hamburger-demo1:checked ~ .hamburger-demo-menuwrap{
	left: 30%;
}
	/* コンテンツカバー */
#hamburger-demo1:checked ~ .hamburger-demo-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9997;
	background: rgba(3,3,3,.5);
	display: block;





.moji{
	 text-align: center;
	margin-top:5;

}



}

.con{
	margin-top:0;

}



h2{
	text-align:left;
	

}


.toukou p {
    margin: 0; 
    padding: 0;

		
}



.kasen{
      background: linear-gradient(transparent 90%, yellow 10%);
      display: inline-block;
    }




.title h2{
    position: relative;
    max-width: 1200px;
	    margin-top:30px;
    padding: 1em 1.5em;
    border-left: 10px solid #113f5f;
background-color: transparent;
    color: #333;
}


.adress{
	margin-top:30px;
}

.adress h2{
	 max-width: 1200px;
	position: relative;
    max-width: 400px;
    padding: 1em 1.5em;
    border-left: 10px solid #113f5f;
    background-color: #ffffff;
    color: #333;
}

.adress p{
	background:#ffffff;
	padding:20px;
}



.map {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9のアスペクト比 */
    height: 0;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.fixed {
 	position: fixed;/* ←fixedで固定する*/
 	 top: 0;
 	 left: 0;
	background:#ffffff;
	width: 100%;
	  display: flex;
	min-width100%;
  padding-left:0; 
	padding-bottom:0;
    border-bottom: 2px solid #19354f;
    color: #333333;
	  z-index: 999;

}
.box1 {
	width:150px;
	height:auto;
    position: relative;
    margin:1em 0;
	    padding-top: 0.7em;
    paddingleft:0.2em;
    border: solid 3px #002e4dc9;
    border-radius: 8px;
}

.boxtitle{
    position: absolute;
    display: inline-block;
    top: -7px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #002e4dc9;
    font-weight: bold;
    
}
.box1 p {

 margin:0;
    padding: 0;
}


.recomends{

    margin:2em 2em;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.recomends:before, .recomends:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.recomends:before {left: 10px;}
.recomends:after {right: 10px;}
.recomends p {
    margin: 0; 
    padding: 0;
}

footer{
background-image:url("../image/下画像.jpg");
	background-size: cover;

	color:#113f5f;
	text-align: center;
	margin:0;
	width: 100%;
height: 130px;
	
}


.itiranwaku{
	margin-top:-120px;

	padding-left:230px;
}

.itiran {
	width:200px;
	height:80px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
	transition: all 0.6s ease 0s;
	
}
.itiran p {
	font-size: 18px;
    margin: 0; 
    padding: 0;
}



.itiran:hover {
	border: solid 3px #ffffff;/*線*/
	color:#ffffff;
	cursor: pointer;
	 background: #6091d3;
}




.menutop{
	margin:5px;
    position: relative;
    padding: .5em .7em .4em;
    border-bottom: 3px solid #f5b056;
    color: #333333;
	
}

.menutop::before,
.menutop::after {
    position: absolute;
    left: 30px;
    bottom: -15px;
    width: 30px;
    height: 15px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.menutop::before {
    background-color: #f5b056;
}

.menutop::after {
    bottom: -11px;
    background-color: #fff;
}

.menutitle {
	text-align:center;
    position: relative;
    padding:  0.5em 1em;
}


.menutitle h1{
margin:0;

}

#bm{
	width:500px;
	height:800px;
}
.menuran{
	margin:20;
	text-align:center;


}




.adress p{
	background-color:
#fccb77
;
									
}

.setu2{
	margin:20;
}


#logo{
	padding:0.5em;
	margin:0;

}

.bm{
	text-align:center;
	margin:0;
	
}










#menuwaku{

	text-align:center;
	margin-top:-10;
}


/*スマホ*/
@media(max-width:992px){

	.yoko{
	display:none;
}

.kakou{
	display:none;
}
}



/* PC */
@media (min-width:992px){
	
.details-wrap{
	width:1200;
	height:500;
}
	.kakou{
	margin-top:50px;
    display: flex;
}




}

